@model AssociadoModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Editar Endereço";
}

<form asp-controller="Associado" asp-action="Atualizar" method="post">
    <input type="hidden" asp-for="Id" >
    <h2 class="mt-3">Altere seu Endereço</h2>
    <div>
        <label for="endereco" class="form-label"></label>
        <input type="text" asp-for="Endereco" class="form-control">
    </div>
   
    <br>
    <div class="btn-group" role="group">

        <input type="submit" value="Atualizar" class="btn btn-primary">
        <button class="btn btn-secondary px-4" asp-action="Detalhes" >Voltar</button>
    </div>
</form>