@model AssociadoModel
@{
    ViewData["Title"] = "Editar Endereço";
}
<h1>Teste</h1>
<div class="text-center">
    <h1 class="display-4">Associado</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Dados do associado</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td>Nome:</td>
            <td>@Model.Nome</td>
            <td></td>
        </tr>
        <tr>
            <td>CPF:</td>
            <td>@Model.CPF</td>
            <td></td>
        </tr>
        <tr>
            <td>Placa:</td>
            <td>@Model.Placa</td>
            <td></td>
        </tr>
        <tr>
            <form asp-action="Atualizar">
                <input type="hidden" asp-for="Id">
                <td>Endereço:</td>
                <td>
                    <div>
                        <label for="endereco" class="form-label"></label>
                        <input type="text" asp-for="Endereco" class="form-control">
                    </div>
                </td>
                <td>

                    <div class="btn-group" role="group">

                        <input type="submit" value="Atualizar" class="btn btn-primary">
                    </div>

                </td>
            </form>
        </tr>
        <tr>
            <td>Telefone:</td>
            <td>@Model.Telefone</td>
            <td></td>
        </tr>


    </tbody>
</table>